
{% block facebook %}

    <div id="fb-root"></div>
    <script>
    
        var btn = document.getElementById("btn-facebook");
    
        window.fbAsyncInit = function() {
            // iniciamos la aplicación de Facebook
            FB.init({
                appId      : '238649363223511',
                status     : true,
                xfbml      : true
            });
        };
        
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    btn.innerHTML = "Kaixo";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
        
        function getAPI()
        {
            
        }
    </script>
    
        <a href="#" onclick="fb_login();" id="btn-facebook"></a>
    
{% endblock %}