{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('mensaje') %}
                	<div class="alert alert-danger" role="alert">
                		<div class="container"> {{ flashMessage }} </div>
                	</div>
                {% endfor %}
            </div>
            <div class="row">
                <h1 class="mtitle title-padding text-center">{{ 'titulos.contrasena' | trans }}</h1>
            </div>
        <div class="row">
       
         <form action="{{ path("update_password", {id: app.user.id})}}" class="contact_form" method="post" enctype="multipart/form-data">
             <input type="password" name="password-actual" class="formulario" placeholder="Contraseña actual" />
             <input type="password" name="password-nueva" class="formulario" placeholder="Nueva contraseña" />
             <input type="password" name="password-repetir" class="formulario" placeholder="Repetir nueva contraseña" />
             <button id="enviar"  type="submit" class="formulario">{{ 'boton.modificar' | trans }}</button>
         </form>
       
        
         </div>
        </div>
    </div>
       
    
    

{% endblock %}