{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="row">
                <h1 class="mtitle title-padding text-center">Cambiar contrase単a</h1>
            </div>
        <div class="row">
       
         <form action="{{ path("update_password", {id: app.user.id})}}" class="contact_form" method="post" enctype="multipart/form-data">
             <input type="password" name="password-actual" class="formulario" placeholder="Contrase単a actual" />
             <input type="password" name="password-nueva" class="formulario" placeholder="Nueva contrase単a" />
             <input type="password" name="password-repetir" class="formulario" placeholder="Repetir nueva contrase単a" />
             <button id="enviar"  type="submit" class="formulario">Modificar</button>
         </form>
       
        
         </div>
        </div>
    </div>
       
    
    

{% endblock %}