{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    
    <div class="row editarkupela" style="margin-top:50px;">
       
         <form action="{{ path("actualizar_kupela", {id: kupela.id})}}">
             <input type="text" name="nombre" value="{{kupela.nombre}}">
             <input type="text" name="descripcion" value="{{kupela.descripcion}}">
             <button type="submit" class="btn btn-default">Guardar</button>
         </form>
        
         <a href="{{ path("administracion_usuarios",{nombreSidreria: "Petritegi"})}}"><button class="btn btn-default">Cancelar</button></a>
        
     </div>
    
    
    

{% endblock %}