{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
     <div class="row-nuevaKupelas">
         <img>
         <h2>Nombre kupela</h2>
         <p>descripcion</p>
         <h2>Numero de votos</h2>
         <button class="btn btn-default">Guardar cambios</button>
         <a href="{{ path("administracion_usuarios")}}"><button class="btn btn-default">Cancelar</button></a>
     </div>
    
    
    

{% endblock %}