{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
     <div class="row-nuevakupela" style="margin-top:50px;">
         
         <form action= "{{path('registrar_kupela')}}">
             <input type="text" name="nombre" value="">
             <input type="text" name="descripcion" value="">
             <input type="text" name="year" value="">
             <input type="hidden" name="id-sagardotegi" value="{{ app.request.get('id') }}" />
             <button type="submit" class="btn btn-default">Guardar</button>
         </form>
         <a href="{{ path("administracion_usuarios",{nombreSidreria: "Petritegi"})}}"><button class="btn btn-default">Cancelar</button></a>
     </div>
    
    
    

{% endblock %}