hwi_oauth_login:
    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"	
    prefix:   /login_facebook

hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    prefix:   /connect

default:
    resource: "@KupelikeBundle/Controller/IndexController.php"
    type:     annotation
    prefix:   /
    
_index:
    path:      /
    defaults:  { _controller: KupelikeBundle:Sagardotegi:gps }
    
kupelike:
    resource: "@KupelikeBundle/Resources/config/routing.yml"
    #prefix:   /
    prefix:   /{_locale}
#kupelike:
#    resource: "@KupelikeBundle/Controller/"
#    type:     annotation
#    prefix:   /

#login:
#    path: /login
#    defaults: { _controller: KupelikeBundle:Security:login }
#    prefix:   /{_locale}
    
login_check:
    path: /login_check
    prefix:   /{_locale}
    
logout:
    path: /logout
