{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    <div class="row sidreria">
        <div class="col-sm-12">
            <h1 class="mtitle title-padding text-center">Contáctanos</h1>
        </div>
    </div>  
    <div class= "row contenido">
           <form class="contact_form" action="{{path('enviar_correo')}}" method="post">
                       <input name= "nombre-apellidos" class= "formulario" type="text" required  placeholder="Escriba su nombre y apellidos"/>
                       <input name= "email" class= "formulario" type="email" name="email" required placeholder="Indíquenos tu Email"/>
                       <textarea name="contenido" class= "formulario" name="Mensaje" cols="40" rows="6" required  placeholder="Díganos cuál es el motivo de su consulta para que podamos responderle lo antes posible."></textarea>
                       <input id="enviar" class="formulario" type="submit" value="Enviar" />
           </form>
     </div>  
 

{% endblock %}

