{% extends 'base.html.twig' %}

{% block body %}

<<<<<<< HEAD
<<<<<<< HEAD
<div class="container-fluid content">

=======
>>>>>>> c6160070b7fb5fe46935e469a956c6ee76d027fe
=======


<div class="container-fluid"> 
    <<div class="row sidreria">
=======
>>>>>>> f38f7d521e192d0e8ddf7c9cd5219b6c0b6296d1
    <div class="row sidreria">
>>>>>>> c6160070b7fb5fe46935e469a956c6ee76d027fe
        <div class="col-sm-12">
            <h1 class="mtitle title-padding text-center">Contactanos</h1>
        </div>
    </div>  
    <div class= "row contenido">
           <form class="contact_form" action="{{path('enviar_correo')}}" method="post">
                       <input name= "nombre-apellidos" class= "formulario" type="text" required  placeholder="Escriba su nombre y apellidos"/>
                       <input name= "email" class= "formulario" type="email" name="email" required placeholder="Indicanos tu Email"/>
                       <textarea name="contenido" class= "formulario" name="Mensaje" cols="40" rows="6" required  placeholder="Dinos cuál es el motivo de tu consulta para que podamos responderte lo antes posible."></textarea>
                       <input id= "enviar" class="formulario" type="submit" value="Enviar" />
           </form>
     </div>  
 

{% endblock %}

