{% extends 'base.html.twig' %}

{% block body %}

    <div class="row contacto">
         <div class="col-sm-12">
        <h1 id="contacto">Contáctanos</h1>
        </div>
    </div>    
    <div class= "row contacto">
           <form class="contact_form" action="#" method="post">
                       <input class= "formulario" type="text" required  placeholder="Nombre"/>
                       <input class= "formulario" type="email" name="email" required placeholder="Email"/>
                       <textarea class= "formulario" name="Mensaje" cols="40" rows="6" required  placeholder="Mensaje"></textarea>
                       <input id= "enviar" class="formulario" type="submit" value="Enviar" />
           </form>
     </div>  
   

{% endblock %}