{% extends 'base.html.twig' %}

{% block body %}

    <div class="row welcome">
        <div class="col-sm-6 col-md-4 text-center">
            <h1 class="welcome-text">Una buena conversación se abre siempre con un Txotx!</h1>
            <p class="welcome-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <button class="btn btn-ghost btn-lg">Encuentra tu sagardotegi</button>
        </div>
    </div>

{% endblock %}

