{% extends 'base.html.twig' %}

{% block body %}

    <div class="row welcome">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <h1 class="welcome-text">Una buena conversación se abre siempre con un Txotx!</h1>
            <blockquote class="blockquote-title text-left">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
            <button class="btn btn-ghost btn-lg">Encuentra tu sagardotegi</button>
        </div>
    </div>

{% endblock %}

