{% extends 'base.html.twig' %}

{% block body %}
 <div class="container-fluid p-x-0 landing">
    <div class="row welcome">
        <div class="col-sm-12 text-center">
            <h1 class="welcome-text">{{ 'paginas_estaticas.landing.txotx' | trans }}</h1>
            <p class="welcome-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <a href="#" class="btn btn-ghost btn-lg btn-encuentra" data-target="sagardotegiak">{{ 'paginas_estaticas.landing.encuentra' | trans }}</a>
        </div>
    </div>

    <div class="row caja" id="mapa">    
        <div class="col-xs-12">
            {% include('KupelikeBundle:Sagardotegi:mapaDenakMapa.html.twig') %} 
        </div>
    </div>    
    <div class="row caja" id="sidrerias">  
       <div class="col-xs-12">
        {% include('KupelikeBundle:Sagardotegi:lista.html.twig') %} 
       </div>
    </div>
</div>

{% endblock %}

