{% extends 'base.html.twig' %}

{% block body %}

     <div class="row conocenos">
         <div class="col-sm-6 col-md-4 text-center ">
            <h4>Conoce la calidad de las mejores sidra del territorio Guipuzcoano Para que disfrutes de la mejor sidra tu y los tuyos</h4>
            <h4>Disfruta de una nueva experiencia con KupeLike</h4>
           <h4>Bebe, Come y Rie con la mejor sidra</h4> 
            <h4>Animate y da un LIKE</h4>
           <h4>Tu LIKE vale Millones!</h4>
           
        </div>
    </div>

{% endblock %}

