{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid content">
    <div class="row sidreria">
        <div class="col-sm-12">
            <h1 class="mtitle title-padding text-center">Conocenos</h1>
        </div>
    </div> 
    <div class="row contenido">
         <div class="col-sm-4 col-sm-offset-4 text-center" >
              <div class="panel-body">
                <p class="card-description nosotros">Una nueva aplicación ha sido desarrollada por los estudiantes de Liderazgo Emprendedor e
                Innovación de la Universidad de Mondragón, en colaboración con los estudiantes de Desarrollo de
                Aplicaciones Web de I.E.S Zubiri Manteo B.H.I. y Mantenimiento electrónico de CIFP Don Bosco
                LHII, llamada KupeLike.
                KupeLike muestra las sidrerías del territorio español con sus respectivas barricas (kupelas) y un
                sistema de votos y reputación por cada una de ellas. Los votos se muestran tanto en la aplicación
                como en unas pantallas alojadas en cada barrica. También dispondra de un mapa interactivo e
                información actualizada para el interés de los usuarios</p>
              </div>
             
            </div>
        </div>
        <div class="row"><hr class="separador_nosotros"></hr></div>
        <div class="row text-center"><img src="../uploads/sagardotegis/zubiri.png"  class="img-rounded" alt="Responsive image"><img src="../uploads/sagardotegis/donbosco.jpg"  class="img-rounded" alt="Responsive image"><img src="../uploads/sagardotegis/mondragon.gif" class="img-rounded" alt="Responsive image"></div>
    </div>

{% endblock %}

