{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid content">
    <div class="row sidreria">
        <div class="col-sm-12">
            <h1 class="mtitle title-padding text-center">{{ 'paginas.nosotros.titulo' | trans }}</h1>
        </div>
    </div> 
    <div class="row contenido">
        <div class="col-xs-8 col-xs-offset-2 text-center" >
            <div class="panel-body">
                <p class="card-description nosotros">
                &nbsp;&nbsp;{{ 'paginas.nosotros.texto1' | trans }}<br/>
                &nbsp;&nbsp;{{ 'paginas.nosotros.texto2' | trans }}<br/>
                &nbsp;&nbsp;{{ 'paginas.nosotros.texto3' | trans }}
                </p>
            </div>
             
        </div>
    </div>
    <div class="row"><hr class="separador_nosotros"></hr></div>
    
    <div class="row">  
       <div class="col-xs-12">
        {% include('KupelikeBundle:Index:sliderUs.html.twig') %} 
       </div>
    </div>
    
    <div class="row"><hr class="separador_nosotros"></hr></div>
    
    <div class="row text-center">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="row">
                <div class="col-xs-4">
        <a href="http://www.zubirimanteo.hezkuntza.net/web/guest/inicio" target="_blank"><img src="../uploads/sagardotegis/zubiri.png"  class="img-rounded ikastolak" alt="Responsive image"></a>
                </div>
                <div class="col-xs-4">
        <a href="http://www.donbosco.hezkuntza.net/web/guest/inicio1" target="_blank"><img src="../uploads/sagardotegis/donbosco.jpg"  class="img-rounded ikastolak" alt="Responsive image">
                </div>
                <div class="col-xs-4">
        <a href="http://www.mondragon.edu/es/es" target="_blank"><img src="../uploads/sagardotegis/mondragon.gif" class="img-rounded ikastolak" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

