{% extends 'base.html.twig' %}

{% block body %}


    <div class="row sidreria">
        <div class="col-sm-12">
            <h1 class="mtitle title-padding text-center">Conocenos</h1>
        </div>
    </div> 
    <div class="row contenido">
         <div class="col-sm-12 text-center" id="todo-nosotros ">
              <div class="panel-body">
                <p class="card-description">Conoce la calidad de las mejores sidra del territorio Guipuzcoano</br></br>
                Para que disfrutes de la mejor sidra tu y los tuyos</br></br>
                Disfruta de una nueva experiencia con KupeLike</br></br>
                Bebe, Come y Rie con la mejor sidra</br></br>
                Animate y da un LIKE</br></br>
                Tu LIKE vale Millones!</p>
              </div>
             
            </div>
        </div>
    </div>

{% endblock %}

