{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid content">
    <div class="row sidreria">
        <div class="col-sm-12">
            <h1 class="mtitle title-padding text-center">Conócenos</h1>
        </div>
    </div> 
    <div class="row contenido">
        <div class="col-xs-8 col-xs-offset-2 text-center" >
            <div class="panel-body">
                <p class="card-description nosotros">
                &nbsp;&nbsp;    Una nueva aplicación ha sido desarrollada por los estudiantes de Liderazgo Emprendedor e
                Innovación de la Universidad de Mondragón, en colaboración con los estudiantes de Desarrollo de
                Aplicaciones Web de I.E.S Zubiri Manteo B.H.I. y Mantenimiento electrónico de CIFP Don Bosco
                LHII, llamada KupeLike.<br/>
                &nbsp;&nbsp;    KupeLike muestra las sidrerías del territorio español con sus respectivas barricas (kupelas) y un
                sistema de votos y reputación por cada una de ellas. Los votos se muestran tanto en la aplicación
                como en unas pantallas alojadas en cada barrica.<br/>
                &nbsp;&nbsp;    También dispondra de un mapa interactivo e
                información actualizada para el interés de los usuarios.
                </p>
            </div>
             
        </div>
    </div>
    <div class="row"><hr class="separador_nosotros"></hr></div>
    
    <div class="row">  
       <div class="col-xs-12">
        {% include('KupelikeBundle:Index:sliderUs.html.twig') %} 
       </div>
    </div>
    
    <div class="row"><hr class="separador_nosotros"></hr></div>
    
    <div class="row text-center">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="row">
                <div class="col-xs-4">
        <a href="http://www.zubirimanteo.hezkuntza.net/web/guest/inicio" target="_blank"><img src="../uploads/sagardotegis/zubiri.png"  class="img-rounded ikastolak" alt="Responsive image"></a>
                </div>
                <div class="col-xs-4">
        <a href="http://www.donbosco.hezkuntza.net/web/guest/inicio1" target="_blank"><img src="../uploads/sagardotegis/donbosco.jpg"  class="img-rounded ikastolak" alt="Responsive image">
                </div>
                <div class="col-xs-4">
        <a href="http://www.mondragon.edu/es/es" target="_blank"><img src="../uploads/sagardotegis/mondragon.gif" class="img-rounded ikastolak" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

