<!-- INICIO ABOUT -->
<!--<div class="w-section section-slider">
  <div data-animation="slide" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1" class="w-slider slider">
    <div class="w-slider-mask">
      <div class="w-slide slider-about1">
        <div id="about" class="div-fondo-about"><img src="/web/img/odei.jpg" class="imagen-about">
          <h2 class="heading-about2">Odei Alba Abad</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/oalba" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
        </div>
      </div>-->
      <!-- About us: Primer slider -->
      <!--<div class="w-slide slider-about1">
        <div id="about" class="div-fondo-about"><img src="/web/img/jon.jpg" class="imagen-about">
          <h2 class="heading-about2">Jon Auzmendi Jimenez</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/jauzmendiji" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
        </div>
      </div>
      <div class="w-slide slider-about1">
        <div id="about" class="div-fondo-about"><img src="/web/img/eder.jpg" class="imagen-about">
          <h2 class="heading-about2">Eder Ferreira</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/edertxo" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
        </div>
      </div>
      <div class="w-slide slider-about1">
        <div id="about" class="div-fondo-about"><img src="/web/img/naiara.jpg" class="imagen-about">
          <h2 class="heading-about2">Naiara</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/naiarapi" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
        </div>
      </div>-->
      <!-- About us: Séptimo slider -->
    <!--</div>-->
    <!-- About us: w-slider slider: w-slider-mask -->
    <!--<div class="w-slider-arrow-left">
      <div class="w-icon-slider-left icon"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="w-icon-slider-right icon"></div>
    </div>
    <div class="w-slider-nav w-slider-nav-invert w-num slide-nav-about"></div>
  </div>-->
  <!-- About us: w-slider slider -->
<!--</div>-->
<!-- FIN ABOUT -->

<div id="aboutUs" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#aboutUs" data-slide-to="0" class="active"></li>
    <li data-target="#aboutUs" data-slide-to="1"></li>
    <li data-target="#aboutUs" data-slide-to="2"></li>
    <li data-target="#aboutUs" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-caption">
        <img src="/web/img/odei.jpg" class="imagen-about">
          <h2>Odei Alba Abad</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/oalba" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <img src="/web/img/jon.jpg" class="imagen-about">
          <h2>Jon Auzmendi Jimenez</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/jauzmendiji" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <img src="/web/img/eder.jpg" class="imagen-about">
          <h2>Eder Ferreira</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/edertxo" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <img src="/web/img/naiara.jpg" class="imagen-about">
          <h2>Naiara</h2>
          <h3>Desarrollador de Aplicaciones Web</h3>
          <br>
           <a href="https://github.com/naiarapi" target="_blank" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
           <a href="" target="_blank" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#aboutUs" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#aboutUs" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>