{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="row">
                <h1 class="mtitle title-padding text-center">Nuevo usuario</h1>
            </div>
        
            <div class="row">
                <form action="{{path('registrar_usuario')}}" class="contact_form">
                    <input type="text" name="nombre" class="formulario" placeholder="Nombre" />
                    <input type="text" name="apellidos" class="formulario" placeholder="Apellidos" /> 
                    
                    <select name="sidreria" class="formulario">
                        <option value="">Selecciona una sidrería</option>
                        {% for sagardotegi in sagardotegis %}
                            <option value="{{ sagardotegi.id }}-{{ sagardotegi.nombre }}">{{ sagardotegi.nombre }}</option>
                        {% endfor %}
                    </select>
                    
                    <input type="number" name="telefono" class="formulario" placeholder="Teléfono" /> 
                    <input type="email" name="email" class="formulario" placeholder="Email" /> 
                    <input type="text" name="direccion" class="formulario" placeholder="Dirección" /> 
                    <input type="text" name="username" class="formulario" placeholder="Nombre de usuario" />
                    <button type="submit" class= "formulario" id="enviar" >Crear</button>
                </form>
            </div>
        </div>
    </div>
    
    
    

{% endblock %}