{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
    <div class="row-nuevakupela" style="margin-top:50px;">
        
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Crear una nueva sidrería</h2>
            <form action="{{path('nueva_sagardotegi')}}" method="post" class="contact_form" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="nombre" class="formulario" placeholder="Nombre" />
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" class="formulario" placeholder="Dirección" /> 
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion" class="formulario" placeholder="Descripción" /> 
                </div>
                <div class="form-group">
                    <input type="file" name="foto" class="formulario" /> 
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Crear</button>
                </div>
            </form>
        </div>
    </div>
    
    
    

{% endblock %}