/* Fonts
font-family: 'Roboto', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Lobster', cursive;
*/

/* Bootstrap Override */

/* Scrollbar */
body::-webkit-scrollbar {
    width: .5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Scrollbar */

.landing {

    background-image: url('../img/fondo.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding-bottom: 1px;
}

.img-logo{
    
    content:url("/web/img/logo_transp.png");
    height: 66px;
    padding-bottom: 10px;
}

.nombre-kup {
    padding-left: 0px;
    padding-right: 0px;
}

.menu-kup {
    /*margin-right: -30px;*/
}

/* Content */

.content {
    
    margin-top: 100px;
}

/* Menu */

.navbar {
    
    min-height: 100px !important;
    margin-bottom: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
    background-color: white;
    width: 100%;
    z-index: 2;
}

.navbar-ham {
    
    float: left;
    padding: 15px 30px !important;
    line-height: 70px;
    color: #629c44;
    cursor: pointer;
}

.navbar-ham:hover, .navbar-ham:active, .navbar-ham:focus, navbar-ham:visited {
    
    color: #629c44;
}

.navbar-logo {
    
    float: left;
    padding: 15px 30px !important;
    line-height: 70px;
    color: #629c44;
}

.navbar-logo:hover, .navbar-logo:active, .navbar-logo:focus, navbar-logo:visited {
    
    color: #629c44;
}

.navbar-title {
    
    float: left;
    height: inherit;
    padding: 15px;
    font-size: 35px;
    line-height: 55px;
    letter-spacing: 2px;
    color: #629c44;
    font-family: 'Lobster', cursive;
}

.navbar-title:hover, .navbar-title:active, .navbar-title:focus, .navbar-title:visited {
    
    text-decoration: none !important;
    color: #629c44 !important;
}

.navbar-search {
    
    padding-left: 50%;
    -moz-transition: padding-left 1s ease-in;
     -o-transition: padding-left  1s ease-in;
     -webkit-transition: padding-left  1s ease-in;
     transition: padding-left  1s ease-in;
    line-height: 90px;
    height: inherit;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.navbar-search-widen {
    
    padding-left: 0%;
    -moz-transition: padding-left 1s ease-in;
     -o-transition: padding-left  1s ease-in;
     -webkit-transition: padding-left  1s ease-in;
     transition: padding-left  1s ease-in;
    line-height: 90px;
    height: inherit;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    
}

.form-control {
    
    min-width: 230px !important;
    width: 95% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-widen {
    
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

.search-btn {
    
    background: none;
    line-height: 1.42857143;
    margin-left: -40px;
    float: none;
}

.menu {
    
  background: rgba(98, 156, 68, 0.90);
  width: 200px;
  height: 100%;
  display: block;
  position: absolute;
  left: -200px;
  top: 0;
  transition: left 0.3s linear;
  z-index: 3;
}

.visible-menu {
    
    left: 0;
    transition: left 0.3s linear;
    position: fixed;
}

.close-menu {
    
    color: white;
    padding: 10px;
    cursor: pointer;
}

.menu-links {
    
    padding-top: 60px;
    list-style: none;
}


.menu-links>li {
    
    padding-top: 10px;
    list-style: none;
}
    
.menu-links>li>a {
    
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: white;
}

.searchResults {
    
    position: fixed !important;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    display: none;
    margin-top: 70px;
}

.closeSearch {
    
    color: black;
    cursor: pointer;
    z-index: 1;
    margin-top: 120px;
}

/* Fin Menu*/

/* Welcome */

.welcome {
    
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    overflow-x: hidden;
}

.welcome-text {
    
    font-family: 'Lobster', cursive;
    color: white;
    /*padding-top: 300px;*/
}

.welcome-subtext {
    
    font-family: 'Roboto', sans-serif;
    color: #629c44;
    padding: 10px 15px;
    margin: 0 50px 20px;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn-ghost {
    
    color: #ffffff;
    background-color: transparent !important;
    border-color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 100 !important;
}

.btn-ghost:hover, .btn-ghost:active, .btn-ghost:focus {
    
    color: #ffffff !important;
    background-color: transparent !important;
    border-color: #ffffff !important;
    outline: none !important;
}

/* Fin Welcome */


.btn-social {
    color: #629c44 !important;
    z-index: 1;
}

.btn-social-inner {
    color: #232323 !important;
    z-index: 1;
}

.subfooter {

    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    background-color: #629c44;
    padding: 20px 0px;
}

.subfooter > a {
    color: #ffffff;
    text-decoration: none;
}

.footer {

    padding-top: 40px;
    background-color: #232323;
}


.thumbnail {
    text-align: center;
}

.list-unstyled {
    padding-left: 10px !important;
}

.list-unstyled > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-menu {
    
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 3px;
    padding-bottom: 20px;
}


.footer-menu > li > a, a:focus, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.green-color {
    color: #629c44;
}

.p-20 {
    padding: 20px 0px;
}

.p-x-0 {
    
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.p-x-1 {
    
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*.parallax-container {
    height: 500px;
}*/

.img-parallax {
    min-width:100%;
}

.overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.mapa {
    
    height: 700px;
    background: transparent;
}

.caja {
    
    padding: 0px 0px;
    margin: 10px 5px;
    background-color: white;
}

 .mtitle {
     
    font-family: 'Lobster', cursive;
    color: #629c44 !important;
 }
 
h1.a-sagar a:link {
    color: #629c44 !important;
}

/* visited link */
h1.a-sagar a:visited {
    color: #629c44 !important;
}

/* mouse over link */
h1.a-sagar a:hover {
    color: #629c44 !important;
}

/* selected link */
h1.a-sagar a:active {
    color: #629c44 !important;
}
 
.carousel-indicators .active {
    
    background-color: #629c44 !important;
}

.carousel-indicators li {
    
    border: 1px solid #629c44 !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      
      width: 70%;
      margin: auto;
}
  
.carousel {
    
      height: 700px;
}
 
.item {
    
      height: 600px
}
  
.carousel-control {
    
    color: #629c44 !important;
}

.carousel-control.right {
    
    background-image: none !important;
}

.carousel-control.left {
    
    background-image: none !important;
}

.carousel-control {
 
     width: 5% !important;   
}

.btn-primary {
    background-color: #4CAF50 !important; /* Green */
    border: none !important;
    border-radius: 0px !important;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.estadisticas-titulo {
    font-family: 'Roboto', sans-serif;
    color: #629c44 !important;
}

.parallax-sagardotegi {
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nombre-sagardotegi {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: #f9f9f9;
    font-size: 86px;
    padding-top: 90px;
}


/** Sagardotegiak Cards **/

.card {
    
    width: 100%;
    padding: 15px 60px;
    max-width: 500px;
    margin: 0 auto;
}

.card-image {
    
    width: inherit;
    min-width: 300px;
}

.card-title {
    
    font-family: 'Roboto', sans-serif;
    color: #629c44;
    letter-spacing: 1px;
}

.card-description {
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: medium;
}

.card-direction {
    
    background-color: #629c44;
    color: white;
    height: 50px;
    width: 175px;
    position: absolute;
    top: 40px;
    left: 25px;
    letter-spacing: 2px;
    padding: 5px;
}

.card-link, .card-link:hover, .card-link:active, .card-link:focus, .card-link:visited {
    
    text-decoration: none;
    color: black;
}




/** Aspecto general paginas **/


.panel-success{
    width: 70%;
    
}


/** Formulario contacto **/


.contact_form{
    font: 100% Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    
}

.formulario{
    
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
} 

.contact_form h1{
    background: #629c44;
    padding: 20px 0;
    font-size: 300%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    
}

#enviar:hover {
 background: rgba(0,0,0,0);
 box-shadow: inset 0 0 0 3px #43d1af;
}

textarea{
    resize: none;
}

#contenido {
    margin: 150px auto; 
    background-color: white;
}

#nosotros{
    color: #629c44;
    background-color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    
}

#texto-contacto{
    font-family: 'Roboto', sans-serif, 200%;
     
}

/** FIN ! Formulario contacto **/
/**/

/** Single Sagardotegi ta bere kupelak **/

.single-sagardotegi {
    
    position: fixed;
    height: 320px;
    padding-top: 50px;
    background-color: white;
    z-index: 2;
}

.single-img {
    
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.single-description {
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: medium;
    text-align: justify;
    margin-left: 20px;
}

.like {
    
    width: 200px !important;
}

.portada_sidreria{
    
    width: inherit;
    min-width: 500px;
}

.btn-default {
    font-weight: 400;
    color: #629c44;
    border-radius: 1px;
    margin-right: 30px;
    margin-top: 10px;
}    

.card-sidreria {
    width: 100%;
    padding: 15px 60px;
    margin: 0 auto;
}

.left-line {
  border-left: 2px solid #629c44;
}

.kupela-list {
    
    padding-top: 360px;
    padding-bottom: 50px;
}


.votos {
    text-align: center;
}

.img-kupela {
    
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
}

#mapa_todas{
    
    margin-bottom: 50px;
}

 
hr.separador_nosotros {
	border-top: 4px double #6ca250;
	text-align: center;
}
hr.separador_nosotros:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: white;
	color: #6ca250;
	font-size: 18px;
}

.img-rounded{
    width: 10%;
    height: 10%;
    margin-bottom: 20px;
    /*margin-left: 40px;*/
}

.card-description.nosotros{
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background: white;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 50px;
    border-radius: 35px 0px 35px 0px;
        -moz-border-radius: 35px 0px 35px 0px;
        -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #6ca250;
    
    
    
}


 /*agrandar like*/

.like{
    -webkit-transition:all 1.9s ease;
    -moz-transition:all 1.9s ease;
    -o-transition:all 1.9s ease;
    -ms-transition:all 1.9s ease;
    margin-top: 80px;
    
   
    
}


.like:hover img {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);

}

#corazon-like{
    width:60px;
    height:180px;
    overflow:hidden;
    
    
}

#numVotos{
    font-size: 60px;
}



































/** titulo index 

<div class='title-carrusel'>
              <div class='visible'>
                <p>
                  Disfruta de la Sidra con
                </p>
                <ul>
                  <li>Amigos !</li>
                  <li>Familia !</li>
                  <li>Pareja !</li>
                  <li>KupeLike !</li>
                </ul>
              </div>
            </div>

.title-carrusel {
  position: absolute;
  top: 50%;
  
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  color: #ecf0f1;
  height: 160px;
  overflow: hidden;
}

.title-carrusel > .visible {
  font-weight: 600;
  overflow: hidden;
  height: 50px;
  padding: 0 40px;
}
.title-carrusel > .visible:before {
  content: '[';
  left: 0;
  line-height: 40px;
}
.title-carrusel > .visible:after {
  content: ']';
  position: absolute;
  right: 0;
  line-height: 40px;
}
.title-carrusel > .visible:after, .visible:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.title-carrusel > .visible > p {
  display: inline;
  float: left;
  margin: 0;
}

.title-carrusel > .visible > ul {
  margin-top: 0;
  padding-left: 350px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: change;
          animation-name: change;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.title-carrusel > .visible > ul > li {
  line-height: 45px;
  margin-left: 20px;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  34%,46% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  51%,63% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  68%,80% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  85%,97% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

*/