    <div id="fb-root"></div>
    
    <script>
    
    var btn = document.getElementById("btn-facebook");
    
        window.fbAsyncInit = function() {
            // iniciamos la aplicación de Facebook
            FB.init({
                appId      : '238649363223511',
                status     : true,
                xfbml      : true,
                cookie     : true
            });
            
            // una vez está conectado, llama a la función getAPI
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    getAPI();
                } else {
                    // si no está conectado, muestra la ventana de conexión
                    $('#btn-facebook').click(function(){
                        fb_login();
                    });
                }
            });
            
        };
        
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        
        
        
       

        function fb_login()
        {
            FB.login(function(response) {
                if (response.authResponse) {
                    location.reload();
                }
            });
        }
        
        function getAPI()
        {
            // obtiene información del usuario y la muestra
            FB.api("/me?fields=birthday,name,email,id", function(response){
                // la información se envía en JSON al controlador Kupela
                $('#btn-facebook').click(function(){
                    
                    // obtenemos el id de la kupela
                    var idKupela = $(this).attr('class');
                    console.log(idKupela);
                    
                    // Hace la llamada AJAX
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "{{ path('kupela_like') }}",
                        data: {response, idKupela},
                        success: function(data){
                            console.log(data);
                        }
                    });
                });
            });
        }
    </script>