{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ sagardotegi.nombre }}</h1>
    <h3>Kupelas de la sagardotegi</h3>
    {% for kupela in kupelas %}
        <h5>{{ kupela.nombre }}</h5>
    {% endfor %}

{% endblock %}
