{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h1>Sagardotegis</h1>
            {% for sagardotegi in sagardotegis %}
                <h2>{{ sagardotegi.nombre }}, {{ sagardotegi.direccion }}</h2>
            {% endfor %}
        </div>
    </div>

{% endblock %}