{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="caja">
      <h1 class="text-center mtitle"></h1>
      <div id="map" class="mapa"></div>
      
    
    
    

        <script>
      function myMap() {
        //Creando el mapa
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
          center: new google.maps.LatLng(43.323832,-1.9768633), 
          zoom: 17,
          scrollwheel: false
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        
        //Creando los iconos
        var kupImg="../../../../../web/img/logoblanco35.png";
        //var kupImg="https://kupelike-oalba.c9users.io/web/img/botellasidra2.png";
    		var sagarImg={
    			url:kupImg,
    			size: new google.maps.Size(35, 35)
    		};
		
    		var perImg="../../../../../web/img/personaPos.png";
    		//var perImg="https://kupelike-oalba.c9users.io/web/img/personaPos.png";
    		var persImg={
    			url:perImg,
    			size: new google.maps.Size(35, 35)
    		};
		
		
		    // Añadiendo marcadores y Centrando el mapa//////////////////////////////////
		
		    //create empty LatLngBounds object
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();  
		    var marcadores = [];
		
        {% for sagardotegi in sagardotegis %}
        
          var mas = {  
            position: {
              lat: {{ sagardotegi.latitud }},
              lng: {{ sagardotegi.longitud }}
            },
            nombre: "{{ sagardotegi.nombre }}",
            direccion: "{{ sagardotegi.direccion }}"
          };
          marcadores.push(mas);

        {% endfor %}
        
        
        for (var i = 0; i < marcadores.length; i++){

          var nombre = marcadores[i].nombre;
          var direccion = marcadores[i].direccion;
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(marcadores[i].position.lat, marcadores[i].position.lng),
            map: map,
            title: nombre,
            icon: sagarImg
          });
          (function(marker, nombre) {
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(nombre+"<br>"+direccion);
              infowindow.open(map, marker);
              map.setCenter(marker.position);
              //map.setZoom(17);
            });
          })(marker, nombre);

          bounds.extend(marker.position);
        }
        //now fit the map to the newly inclusive bounds
        map.fitBounds(bounds);
        
        ///////////////////////////////////////////////////////////////////////////
        
        
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var perPos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var persona = new google.maps.Marker({
              position: perPos,
              map: map,
              title: 'Tu posición.',
              icon: persImg
            });
          });
        }
      }
      
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
    </div>
  </div>
</div>
    
{% endblock %}